@font-face {
  font-family: "tan mon cheri";
  src: url("/assets/TAN_MON_CHERI/Web/TAN-MONCHERI.woff2") format("woff2"),
    url("/assets/TAN_MON_CHERI/Web/TAN-MONCHERI.woff") format("woff"),
    url("/assets/TAN_MON_CHERI/Web/TAN-MONCHERI.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}
a {
  text-decoration: none;
}
section {
  margin: 30px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2 {
  font-family: "tan mon cheri", sans-serif;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 15px;
}
h3 {
  font-family: montserrat, sans-serif;
  font-style: italic;
  margin-bottom: 10px;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin-bottom: 60px;
  padding: 0 30px;
  position: sticky;
  z-index: 1;
  background-color: white;
  top: 0;
}
header nav {
  right: 0;
}

main {
  padding: 0 30px;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.dispo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  width: max-content;
  border-radius: 20px;
}

.clignote {
  animation-duration: 10s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-details {
  padding: 0 30px;
}

.home-details p,
.home-details h1,
.home-details nav {
  margin-bottom: 20px;
}
nav {
  display: flex;
  gap: 20px;
}
.nav {
  display: flex;
  gap: 5px;
}

.gif {
  width: 150px;
  height: 100px;
}
.reseau {
  display: flex;
  gap: 20px;
}
.reseau-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  background-color: aqua;
}

.loading {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: grey;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.loader {
  height: 15px;
  width: 60px;
  --c: no-repeat
    repeating-linear-gradient(#0000 0 6px, #000 0 9px, #0000 0 15px);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 26% 200%;
  animation: l4 1.5s infinite linear;
  z-index: 1000;
}
@keyframes l4 {
  0%,
  70%,
  100% {
    background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  17.5% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  35% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  52.5% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 100%;
  }
  69.99% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
}
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
}
p {
  font-size: 16px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 15px;
  position: relative;
}

a {
  text-decoration: none;
  color: #2a2929;
  font-size: 16px;
}
/* Header *
header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  gap: 10px;
}

nav div {
  padding: 8px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
}
/* Main *

.main-section1 {
  display: flex;
  padding-top: 20vh;
}
.main-left {
  width: 30%;
  display: flex;
  align-items: center;
}
.main-left img {
  border-radius: 100%;
  object-fit: contain;
  width: 100%;
}

.main-right {
  width: 70%;
  padding: 30px;
}
.main-right-work {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  width: max-content;
  border-radius: 20px;
}
.clignote {
  animation-duration: 10s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
i.fa-solid.fa-circle {
  color: green;
}
.main-right-description {
  margin: 50px 0 20px 0;
}
.main-right-description-typewriter h2 {
  font-size: 40px;
}
.main-right-description-typewriter {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  width: 33ch;
  display: flex;
  align-items: center;
  padding: 10px 0;

  border-right: 3px solid;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.main-right-description h3 {
  font-size: 20px;
  margin: 20px 0;
}

.main-right-description p {
  padding: 20px 0;
}

.main-right-btn button {
  margin-right: 10px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
}

.social-buttons {
  display: flex;
  padding: 10px 0;
  border-radius: 5em;
  gap: 15px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.cv a {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.social-button:hover,
.cv:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}
.cv a:hover {
  color: orange;
}
.social-buttons svg {
  transition: 0.3s;
  height: 10px;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
  width: 40px;
  height: 15px;
}

.linkedin:hover svg {
  fill: #0077b5;
}

@keyframes wipe-out-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

[transition-style="out:wipe:left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-left both;
}

::selection {
  color: #fff;
  background: #3ea0e2;
}
/* SECTION 2 A PORPOS DE MOI *
.moi {
  margin-top: 50px;
}
.moi h3 {
  margin: 30px 0;
}
.moi-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.moi-title h2 {
  border-bottom: 5px solid red;
  padding-bottom: 20px;
}
.connaissance {
  text-align: center;
  margin: 30px 0;
}
.moi-connaissances {
  display: flex;
  gap: 20px;
}

.moi-connaissances-techniques {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.moi-connaissances-techniques h4,
.moi-connaissances-savoir-faire {
  margin: 30px 0;
}
.moi-connaissances-techniques-stack {
  display: flex;
  border-bottom: 2px dotted grey;
}
.moi-connaissances-techniques-stack h5 {
  width: 120px;
  border-right: 2px solid grey;
  padding: 15px 0;
}
.stack-img {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* HTML: <div class="loader"></div> *

.loading {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: grey;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.loader {
  height: 15px;
  width: 60px;
  --c: no-repeat
    repeating-linear-gradient(#0000 0 6px, #000 0 9px, #0000 0 15px);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 26% 200%;
  animation: l4 1.5s infinite linear;
  z-index: 1000;
}
@keyframes l4 {
  0%,
  70%,
  100% {
    background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  17.5% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  35% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  52.5% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 100%;
  }
  69.99% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
}

/* Expérinces et études  *

.parcours {
  display: flex;
}
.parcours-scolaire {
  width: 50%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.parcours-details {
  border: 1px solid grey;
} */
